<div class="hero-unit">
 <div class="container">
   <div class="row">
     <div class="span12">
       <h1>Our Clients</h1>
     </div>
   </div>
 </div>
</div>

<div class="container">
  <div id="clients-flexslider" class="flexslider home clients">
    <ul class="slides">

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.adnoc.ae/">
          <img src="{{ STATIC_URL }}img/clients/adnoc_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/adnoc.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.moi.gov.ae/">
          <img src="{{ STATIC_URL }}img/clients/interior_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/interior.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.haad.ae/Haad/">
          <img src="{{ STATIC_URL }}img/clients/health_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/health.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://etisalat.com/">
          <img src="{{ STATIC_URL }}img/clients/etisalat_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/etisalat.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.seha.ae/seha/en/Pages/HospitalDetail.aspx?HospitalId=59/">
          <img src="{{ STATIC_URL }}img/clients/gharbia_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/gharbia.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.musanada.co.ae/">
          <img src="{{ STATIC_URL }}img/clients/musanada_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/musanada.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.skmc.ae/">
          <img src="{{ STATIC_URL }}img/clients/khalifa_medical_city_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/khalifa_medical_city.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.adfca.ae/english/">
          <img src="{{ STATIC_URL }}img/clients/food_authority_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/food_authority.png" class="color-img" alt="">
        </a>
      </li>

      <li style="width: 129px; float: left; display: block;">
        <a href="http://www.secure.ae/english/">
          <img src="{{ STATIC_URL }}img/clients/secure_gray.png" alt="">
          <img src="{{ STATIC_URL }}img/clients/secure.png" class="color-img" alt="">
        </a>
      </li>
    </ul>
  </div>
</div>



